<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyw.driver">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="cGpmd8s4Y4yNGNjXqGScS8oXluLPCG3F" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".RegisterActivity"
            android:launchMode="singleTask" />
        <activity android:name=".MapActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CommitActivity" />
        <activity android:name=".StatusActivity" />
    </application>

</manifest>
